.f-height {
     height: fit-content;
     margin-top: 50px;
     margin-bottom: 143px;
}

.section {
     background-color: rgba(0, 0, 0, 0.29);
     padding: 50px 5%;
     height: fit-content;
     width: 100%;
}

.head-text {
     font-family: Avenir Next Condensed;
     font-weight: 600;
     font-size: 30px;
     letter-spacing: 2px;
}

.head-sub-text {
     font-family: 'Alex Brush', cursive;
     font-size: 40px;
     margin-top: -20px;
     color: color(srgb 0.9702 0.7395 0.3452);
     line-height: 40px;
}

.yellow-btn {
     background-color: color(srgb 0.9702 0.7395 0.3452);
     margin: 4px 5px;
     border-radius: 20px;
     width: 120px;
     padding: 10px 15px;
     text-decoration: none;
     color: white;
     font-weight: bold;
}

.yellow-btn:hover {
     color: rgb(226, 226, 226);
}

.ribbon {
     background-image: url('../Assets/ribbon.png');
     background-position: center;
     background-size: cover;
     height: 280px;
     width: 230px;
}

.sched-text, .info-text {
     font-size: 13px;
     color: black;
}

.yellow-divider {
     padding: 30px;
     background-color: color(srgb 0.9519 0.7312 0.3439);
     border-radius: 50px;
}


/* about us, services, contact css */
.head-section {
     background-color: rgba(0, 0, 0, 0.29);
     padding: 10px 0px;
     text-align: center;
     color: white;
     font-size: 40px;
     font-weight: bold;
     letter-spacing: 3px;
}

.check-img {
     margin: 0px 25px;
}

.box-section {
     background-color: color(srgb 0.0472 0.1883 0.2773);
     color: white;
     padding: 30px;
     border-radius: 40px;
     text-align: center;
     min-height: 250px;
}


/* contact page css*/
.contact-section {
     background-color: color(srgb 0.9662 0.7357 0.3442);
     color: white;
     padding: 40px 0px;
     width: 400px;
     height: fit-content;
}

.label {
     background-color: color(srgb 0.9702 0.7395 0.3452);
     border: none;
     color: white;
     border-radius: 15px 0px 0px 15px;
     width: 20%;
}

.input {
     background-color: color(srgb 0.9662 0.7357 0.3442);
     border: none;
     border-radius: 0px 15px 15px 0px;
     color: white;
     width: 80%;
     padding: 10px;
}

.submit-btn {
     background-color: color(srgb 0.9662 0.7357 0.3442);
     border: none;
     border-radius: 10px;
     color: white;
}

.submit-btn:hover {
     background-color: color(srgb 0.9662 0.7357 0.3442);
     color: gray;
}